{% extends "base.html" %} {% block title %} Login {% endblock title %}
{% block content %}

<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card shadow-sm">
      <div class="card-body">
        <h2 class="text-center mb-4">Register account</h2>
        <form method="POST">
          {% csrf_token %}
          <input type="hidden" name="csrfmiddlewaretoken" value="L1d5oaBLlUw5qlP33FgPDBjRMc4OmSpmtQY43mdnqCuJfEibVhaCi4Wt26vEiiJB">
            <div class="mb-4">
              <div class="form-floating mb-3">
                <input type="text" name="username" class="form-control rounded ps-3" placeholder="Username" maxlength="150" autofocus="" required="" aria-describedby="id_username_helptext" id="id_username">
                <label for="id_username" class="text-secondary mb-3">Username</label>
                 
              </div>

            <div class="form-floating mb-3">
                <input type="email" name="email" class="form-control rounded ps-3" placeholder="Email" maxlength="254" id="id_email">
                <label for="id_email" class="text-secondary mb-3">Email</label>
               
            </div>

            <div class="form-floating mb-3">
                <input type="password" name="password1" class="form-control rounded" placeholder="Password" required="" id="id_password1">
              <label for="id_password1" class="text-secondary mb-3">Password</label>
               
            </div>

            <div class="form-floating mb-3">
                <input type="password" name="password2" class="form-control rounded" placeholder="Confirm Password" required="" id="id_password2">
              <label for="id_password2" class="text-secondary mb-3">Confirm Password</label>
               
            </div>
          </div>
            <!-- Register Form buttons -->
          <div class="d-flex justify-content-end gap-2 mx-3 mt-4">
            <a href="{% url 'login' %}" class="btn btn-sm btn-outline-secondary">
              Already have an account?
            </a>
            <form method="POST">
              {% csrf_token %}
              <button type="submit" class="btn btn-sm bg-gradient bg-dark text-light">Register</button>
            </form>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
