{% extends "base.html" %}
<!---->
{% block title %}Change Password{% endblock %}
<!---->

{% block content %}

<div class="container py-5 mb-5">
    <div class="row align-items-center py-5 my-5">
        <div class="col-md-6 mx-auto">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="text-center txt-primary mb-3">Change Password</h2>

                    <form method="POST">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label class="form-label">Old Password</label>
                            {{ form.old_password }}
                            {% if form.old_password.errors %}
                                <div class="text-danger small">{{ form.old_password.errors.0 }}</div>
                            {% endif %}
                        </div>

                        <div class="mb-3">
                            <label class="form-label">New Password</label>
                            {{ form.new_password1 }}
                            {% if form.new_password1.errors %}
                                <div class="text-danger small">{{ form.new_password1.errors.0 }}</div>
                            {% endif %}
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Confirm New Password</label>
                            {{ form.new_password2 }}
                            {% if form.new_password2.errors %}
                                <div class="text-danger small">{{ form.new_password2.errors.0 }}</div>
                            {% endif %}
                        </div>

                        <button type="submit" class="btn btn-secondary bg-link btn-sm w-100">Change Password</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
