{% extends "base.html" %}
<!---->
{% block title %}Password Reset{% endblock %}
<!---->
{% block content %}

<div class="container py-5 mb-5">
    <div class="row align-items-center py-5 my-5">
        <div class="col-md-6 mx-auto">
            <div class="card shadow-sm">
                <div class="card-body">
                    <img src="https://i.postimg.cc/5223XSkt/image.png" alt="" class="img-fluid d-block mx-auto mb-3">
                    <h1 class="text-center txt-link mb-3">Reset Passowrd</h1>
                    <form method="POST" action="{% url 'password_reset' %}" class="form-group text-center">
                        {% csrf_token %}
                        <input type="email" name="email" class="form-control" placeholder="Enter your email">
                        <button type="submit" class="bg-link btn btn-secondary btn-sm mt-5 w-100" style="border: 1px solid var(--link-color)">Send Email</button>
                        <a href="{% url 'login' %}" class="btn btn-sm btn-outline-secondary my-bg-primary w-100 mt-2"><i class="bi bi-arrow-left me-2"></i> Go back
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock  %}