{% extends "base.html" %}
<!---->
{% block title %} Password Reset Complete {% endblock %}
<!---->
{% block content %}
<div class="container mt-4">
    
</div>

<div class="container py-5 mb-5">
    <div class="row align-items-center py-5 my-5">
        <div class="col-md-6 mx-auto">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h2 class="text-center">Password Reset Complete ✅</h2>
                </div>                
                <div class="card-body">
                    <p>Your password has been changed successfully. <strong><a href="{% url 'login' %}" class="txt-primary">Login</a>
                    </strong>to continue</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
