{% extends "base.html" %}
<!---->
{% block title %} Password Reset {% endblock %}
<!---->
{% block content %}

<div class="container py-5 mb-5">
    <div class="row align-items-center py-5 my-5">
        <div class="col-md-8 mx-auto">
            <div class="card shadow-sm">
                <div class="card-header d-flex flex-column align-items-center gap-3">
                    <img src="https://i.postimg.cc/fTmf0F17/image.png" alt="mail envelope" style="max-width: 100px;" class="rounded">
                    <h2 class="text-center">Check Your Email</h2>
                    <p>A password reset link has been sent to your email</p>
                </div>
                <div class="card-body text-center">
                    <strong>Don't forget to check the spam folder.</strong>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
